<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Game </title>
    <script type="text/javascript" src="./jscf.js"></script>
    <script type="text/javascript" src="./scripts/config.js"></script>
    <script type="text/javascript" src="./scripts/game.js"></script>
    <style>
        canvas {
            border:1px solid #d3d3d3;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body onload = "gameStart();">
    <br/>
</body>
</html>
